body {
  background-color: #000;
  background-image: url(6777486e7ac73f627f41dceddc0eedd1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 14vh; }

.botao {
  background-color: #18B3E6;
  color: #FFF;
  font-size: 1.8em; }

