.calculator {
    display: grid;
    height: 406px;
    width: 325px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #222222;

    gap: 0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
    grid-template-areas: 
        "display display display display"
        "display display display display"
        "option option option operationd"
        "digit7 digit8 digit9 operationm"
        "digit4 digit5 digit6 operations"
        "digit1 digit2 digit3 operationsm"
        "digit0 digit0 digitdot operationeq";
}